<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mx-2 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="../../assets/logo--gray--1.png" alt="mdo" width="24" height="24">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2023 vanishingpoint.dev</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><fa-icon [icon]="faTwitter" class="fab fa-lg"></fa-icon>
    </a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><fa-icon [icon]="faGithub" class="fab fa-lg"></fa-icon></a></li>
  </ul>
</footer>