<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <a href="#mainContent" class="sr-only sr-only-focusable">Skip to main content</a>

      <main id="mainContent">
        <header>
          <h1 class="mt-5 display-4">{{ 'POLICY.PRIVACY_POLICY' | translate }}</h1>
          <p class="lead">{{ 'POLICY.LAST_UPDATED' | translate }}</p>
        </header>

        <!-- Introduction -->
        <section aria-labelledby="introduction-header">
          <h2 id="introduction-header" class="sr-only">{{ 'POLICY.INTRODUCTION' | translate }}</h2>
          <p>{{ 'POLICY.INTRO_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'POLICY.INTRO_DESCRIPTION_2' | translate }}</p>
        </section>
        <!-- Interpretation and Definitions -->
        <section aria-labelledby="interpretationHeading">
          <h2 id="interpretationHeading" class="mt-5 display-5">{{ 'POLICY.INTERPRETATION_DEFINITIONS' | translate }}
          </h2>
          <!-- Interpretation -->
          <div aria-labelledby="interpSubHeading">
            <h3 id="interpSubHeading" class="mt-3">{{ 'POLICY.INTERPRETATION' | translate }}</h3>
            <p>{{ 'POLICY.INTERPRETATION_DESCRIPTION' | translate }}</p>
          </div>
          <!-- Definitions -->
          <div aria-labelledby="definitionsSubHeading">
            <h3 id="definitionsSubHeading">{{ 'POLICY.DEFINITIONS' | translate }}</h3>
            <p>{{ 'POLICY.DEFINITIONS_DESCRIPTION' | translate }}</p>
            <ul>
              <li>
                <strong>{{ 'POLICY.WEBSITE' | translate }}:</strong> {{ 'POLICY.WEBSITE_DESCRIPTION' | translate }}
                <a href="https://vanishingpoint.dev" rel="external nofollow noopener" target="_blank"
                  aria-label="opens in a new window">{{
                  'POLICY.VANISHING_POINT_WEBSITE' | translate }}</a>
              </li>
              <li>
                <strong>{{ 'POLICY.ACCOUNT' | translate }}:</strong> {{ 'POLICY.ACCOUNT_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.AFFILIATE' | translate }}:</strong> {{ 'POLICY.AFFILIATE_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.APPLICATION' | translate }}:</strong> {{ 'POLICY.APPLICATION_DESCRIPTION' | translate
                }}
              </li>
              <li>
                <strong>{{ 'POLICY.COMPANY' | translate }}:</strong> {{ 'POLICY.COMPANY_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.COOKIES' | translate }}:</strong> {{ 'POLICY.COOKIES_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.COUNTRY' | translate }}:</strong> {{ 'POLICY.COUNTRY_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.DEVICE' | translate }}:</strong> {{ 'POLICY.DEVICE_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.PERSONAL_DATA' | translate }}:</strong> {{ 'POLICY.PERSONAL_DATA_DESCRIPTION_2' |
                translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.SERVICE' | translate }}:</strong> {{ 'POLICY.SERVICE_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.SERVICE_PROVIDER' | translate }}:</strong> {{ 'POLICY.SERVICE_PROVIDER_DESCRIPTION' |
                translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.THIRD_PARTY_SOCIAL_MEDIA_SERVICE' | translate }}:</strong> {{
                'POLICY.THIRD_PARTY_SOCIAL_MEDIA_SERVICE_DESCRIPTION' | translate }}
              </li>
              <li>
                <strong>{{ 'POLICY.USAGE_DATA' | translate }}:</strong> {{ 'POLICY.USAGE_DATA_DESCRIPTION' | translate
                }}
              </li>
              <li>
                <strong>{{ 'POLICY.YOU' | translate }}:</strong> {{ 'POLICY.YOU_DESCRIPTION' | translate }}
              </li>
            </ul>
          </div>
        </section>
        <section aria-label="Collecting and Using Your Personal Data">
          <h2 class="mt-5 display-4">{{ 'POLICY.COLLECTING_AND_USING' | translate }}</h2>
          <section aria-label="Types of Data Collected">
            <h3>{{ 'POLICY.TYPES_OF_DATA_COLLECTED' | translate }}</h3>
            <section aria-label="Personal Data">
              <h4>{{ 'POLICY.PERSONAL_DATA' | translate }}</h4>
              <p>{{ 'POLICY.PERSONAL_DATA_DESCRIPTION' | translate }}</p>
              <ul>
                <li>{{ 'POLICY.EMAIL_ADDRESS' | translate }}</li>
                <li>{{ 'POLICY.FIRST_AND_LAST_NAME' | translate }}</li>
                <li>{{ 'POLICY.PHONE_NUMBER' | translate }}</li>
                <li>{{ 'POLICY.ADDRESS_DETAILS' | translate }}</li>
                <li>{{ 'POLICY.USAGE_DATA' | translate }}</li>
              </ul>
            </section>
            <section aria-label="Usage Data">
              <h4>{{ 'POLICY.USAGE_DATA_HEADER' | translate }}</h4>
              <p>{{ 'POLICY.USAGE_DATA_DESCRIPTION_2' | translate }}</p>
              <ul>
                <li>{{ 'POLICY.IP_ADDRESS' | translate }}</li>
                <li>{{ 'POLICY.BROWSER_TYPE_VERSION' | translate }}</li>
                <li>{{ 'POLICY.PAGES_VISITED' | translate }}</li>
                <li>{{ 'POLICY.DEVICE_DIAGNOSTIC' | translate }}</li>
                <li>{{ 'POLICY.MOBILE_DETAILS' | translate }}</li>
              </ul>
            </section>
            <section aria-label="Information from Third-Party Social Media Services">
              <h4>{{ 'POLICY.THIRD_PARTY_INFO' | translate }}</h4>
              <p>{{ 'POLICY.THIRD_PARTY_INFO_DESCRIPTION' | translate }}</p>
              <ul>
                <li>{{ 'POLICY.GOOGLE' | translate }}</li>
                <li>{{ 'POLICY.FACEBOOK' | translate }}</li>
                <li>{{ 'POLICY.INSTAGRAM' | translate }}</li>
                <li>{{ 'POLICY.TWITTER' | translate }}</li>
                <li>{{ 'POLICY.LINKEDIN' | translate }}</li>
              </ul>
              <p>{{ 'POLICY.THIRD_PARTY_DATA_COLLECTION' | translate }}</p>
            </section>
            <section aria-label="Tracking Technologies and Cookies">
              <h4>{{ 'POLICY.TRACKING_TECHNOLOGIES' | translate }}</h4>
              <p>{{ 'POLICY.TRACKING_TECHNOLOGIES_DESCRIPTION' | translate }}</p>
              <ul class="technology-list">
                <li>{{ 'POLICY.COOKIES_DETAILS' | translate }}</li>
                <li>{{ 'POLICY.WEB_BEACONS' | translate }}</li>
              </ul>
            </section>
          </section>
          <section aria-label="Use of Your Personal Data">
            <h3>{{ 'POLICY.USE_OF_PERSONAL_DATA' | translate }}</h3>
            <p>{{ 'POLICY.USE_OF_PERSONAL_DATA_INTRO' | translate }}</p>
            <ul>
              <li>
                <p>{{ 'POLICY.PERFORMANCE_OF_CONTRACT' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.CONTACT_YOU' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.PROVIDE_YOU_WITH_NEWS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.MANAGE_YOUR_REQUESTS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.BUSINESS_TRANSFERS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.FOR_OTHER_PURPOSES' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.SERVICE_PROVIDERS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.FOR_BUSINESS_TRANSFERS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.WITH_AFFILIATES' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.WITH_BUSINESS_PARTNERS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.WITH_OTHER_USERS' | translate }}</p>
              </li>
              <li>
                <p>{{ 'POLICY.WITH_YOUR_CONSENT' | translate }}</p>
              </li>
            </ul>
            <p>{{ 'POLICY.SHARE_INFORMATION_SITUATIONS' | translate }}</p>
            <ul>
              <li>{{ 'POLICY.SERVICE_PROVIDERS' | translate }}</li>
              <li>{{ 'POLICY.FOR_BUSINESS_TRANSFERS' | translate }}</li>
              <li>{{ 'POLICY.WITH_AFFILIATES' | translate }}</li>
              <li>{{ 'POLICY.WITH_BUSINESS_PARTNERS' | translate }}</li>
              <li>{{ 'POLICY.WITH_OTHER_USERS' | translate }}</li>
              <li>{{ 'POLICY.WITH_YOUR_CONSENT' | translate }}</li>
            </ul>
          </section>
        </section>
        <section>
          <h3>{{ 'POLICY.RETENTION_TITLE' | translate }}</h3>
          <p>{{ 'POLICY.RETENTION_P1' | translate }}</p>
          <p>{{ 'POLICY.RETENTION_P2' | translate }}</p>
          <h2>{{ 'POLICY.TRANSFER_TITLE' | translate }}</h2>
          <p>{{ 'POLICY.TRANSFER_P1' | translate }}</p>
          <p>{{ 'POLICY.TRANSFER_P2' | translate }}</p>
          <p>{{ 'POLICY.TRANSFER_P3' | translate }}</p>
        </section>
        <section>
          <h3>{{ 'POLICY.DELETE_TITLE' | translate }}</h3>
          <p>{{ 'POLICY.DELETE_P1' | translate }}</p>
          <p>{{ 'POLICY.DELETE_P2' | translate }}</p>
          <p>{{ 'POLICY.DELETE_P3' | translate }}</p>
          <p>{{ 'POLICY.DELETE_P4' | translate }}</p>
        </section>
        <section>
          <h3>{{ 'POLICY.DISCLOSURE_TITLE' | translate }}</h3>
          <h4>{{ 'POLICY.DISCLOSURE_BUSINESS_TITLE' | translate }}</h4>
          <p>{{ 'POLICY.DISCLOSURE_BUSINESS_P1' | translate }}</p>
          <h4>{{ 'POLICY.DISCLOSURE_LAW_TITLE' | translate }}</h4>
          <p>{{ 'POLICY.DISCLOSURE_LAW_P1' | translate }}</p>
          <h4>{{ 'POLICY.DISCLOSURE_OTHER_TITLE' | translate }}</h4>
          <p>{{ 'POLICY.DISCLOSURE_OTHER_P1' | translate }}</p>
          <ul>
            <li>{{ 'POLICY.DISCLOSURE_OTHER_LI1' | translate }}</li>
            <li>{{ 'POLICY.DISCLOSURE_OTHER_LI2' | translate }}</li>
            <li>{{ 'POLICY.DISCLOSURE_OTHER_LI3' | translate }}</li>
            <li>{{ 'POLICY.DISCLOSURE_OTHER_LI4' | translate }}</li>
            <li>{{ 'POLICY.DISCLOSURE_OTHER_LI5' | translate }}</li>
          </ul>
        </section>
        <section>
          <h3>{{ 'POLICY.SECURITY_TITLE' | translate }}</h3>
          <p>{{ 'POLICY.SECURITY_P1' | translate }}</p>
        </section>
        <section>
          <h2>{{ 'POLICY.CHILDREN_TITLE' | translate }}</h2>
          <p>{{ 'POLICY.CHILDREN_P1' | translate }}</p>
          <p>{{ 'POLICY.CHILDREN_P2' | translate }}</p>
        </section>
        <section>
          <h2>{{ 'POLICY.LINKS_TITLE' | translate }}</h2>
          <p>{{ 'POLICY.LINKS_P1' | translate }}</p>
          <p>{{ 'POLICY.LINKS_P2' | translate }}</p>
        </section>
        <section>
          <h2>{{ 'POLICY.CHANGES_TITLE' | translate }}</h2>
          <p>{{ 'POLICY.CHANGES_P1' | translate }}</p>
          <p>{{ 'POLICY.CHANGES_P2' | translate }}</p>
          <p>{{ 'POLICY.CHANGES_P3' | translate }}</p>
        </section>

        <!-- Contact Section -->
        <app-contact-section></app-contact-section>
      </main>
    </div>
  </div>
</div>