<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary" aria-label="Footer">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <!-- Logo and Info Column -->
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none navbar-brand"
          routerLink="/" (click)="scrollToTop()" aria-label="Navigate to home page">
          <img [src]="isDarkTheme ? '../../assets/logo__white-smoke.png' : '../../assets/logo__charcoal.png'"
            alt="Vanishing Point Logo" width="40" height="40" class="d-block me-2">
        </a>

        <span class="fs-5">{{ 'FOOTER.SITE_NAME' | translate }}</span>
        <ul class="list-unstyled small" aria-label="External links and site information">
          <!-- External Links -->
          <li class="mb-2">
            <span>{{ 'FOOTER.HUMAN_DESIGNED' | translate }}</span>
            <a href="https://chat.openai.com" aria-label="Open AI ChatGPT">Open AI ChatGPT </a>
            <span>{{ 'FOOTER.WITH_ASSISTANCE' | translate }}</span>
            <a href="https://github.com" aria-label="GitHub Copilot"> GitHub Copilot </a>
            <span>{{ 'FOOTER.IN_ORDER_TO_COMPLETE' | translate }}</span>
            <a href="https://quillbot.com/" aria-label="Quillbot for proofreading">Quillbot </a>
            <span>{{ 'FOOTER.FOR_PROOFREAD_PROMPTS' | translate }}</span>
          </li>
          <!-- Other Information -->
          <li class="mb-2">{{ 'FOOTER.CODE_LICENSE' | translate }}
            <a href="https://github.com/vanishing-point-dev/www/blob/main/LICENSE" target="_blank"
              rel="license noopener" aria-label="License Information">Apache 2.0</a>
          </li>
          <li class="mb-2">{{ 'FOOTER.CURRENT_VERSION' | translate }}<a href="https://github.com/vpointdev/www/releases"
              target="_blank" rel="releases noopener" aria-label="Release Information">v0.0.4</a> </li>
        </ul>
      </div>

      <!-- Links Column -->
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>{{ 'FOOTER.LINKS' | translate }}</h5>
        <ul class="list-unstyled" aria-label="Footer navigation links">
          <li class="mb-2">
            <a class="btn" routerLink="/contact-us" (click)="scrollToTop()" aria-label="Navigate to Contact Us page">{{
              'FOOTER.CONTACT_US'
              | translate }}</a>
          </li>
          <li class="mb-2">
            <a class="btn" routerLink="/privacy-policy" (click)="scrollToTop()"
              aria-label="Navigate to Privacy Policy page">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
          </li>
          <li class="mb-2">
            <a class="btn" routerLink="/terms-and-conditions" (click)="scrollToTop()"
              aria-label="Navigate to Terms and Conditions page">{{ 'FOOTER.TERMS_AND_CONDITIONS' | translate }}</a>
          </li>
        </ul>
      </div>

      <!-- Guides Column -->
      <div class="col-6 col-lg-2 mb-3">
        <h5>{{ 'FOOTER.GUIDES' | translate }}</h5>
        <ul class="list-unstyled" aria-label="Guides and documentation links">
          <li class="mb-2">
            <a class="btn" routerLink="/docs" (click)="scrollToTop()" aria-label="Navigate to documentation page">{{
              'FOOTER.DOCS' | translate }}</a>
          </li>
          <li class="mb-2">
            <a class="btn" routerLink="/docs" (click)="scrollToTop()" aria-label="Navigate to Tech Stack page">Tech
              Stack</a>
          </li>
          <!-- Add more guide links here if needed -->
        </ul>
      </div>

      <!-- Projects Column -->
      <div class="col-6 col-lg-2 mb-3">
        <h5>{{ 'FOOTER.PROJECTS' | translate }}</h5>
        <ul class="list-unstyled" aria-label="Project related links">
          <!-- Add project links here if needed -->
        </ul>
      </div>

      <!-- Community Column -->
      <div class="col-6 col-lg-2 mb-3">
        <h5>{{ 'FOOTER.COMMUNITY' | translate }}</h5>
        <ul class="list-unstyled" aria-label="Community related links">
          <li class="mb-2">
            <a class="btn" (click)="openExternalLink('')" aria-label="Navigate to Testimonials page">Testimonials</a>
          </li>
          <li class="mb-2">
            <a class="btn" routerLink="/questions-and-answers" (click)="scrollToTop()"
              aria-label="Navigate to Questions and Answers page">{{ 'FOOTER.Q_AND_A' | translate }}</a>
          </li>
          <li class="mb-2">
            <a class="btn" (click)="openExternalLink('https://github.com/vanishing-point-dev/www/issues')"
              aria-label="Open GitHub Issues page"> <fa-icon [icon]="faGithub" class="fab fa-sm"
                aria-hidden="true"></fa-icon> {{ 'FOOTER.ISSUES' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>