<ul class="navbar-nav flex-row flex-wrap">
  <li class="nav-item col-6 col-lg-auto px-1">
    <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('About')">
      {{ 'HEADER.ABOUT' | translate }}
    </button>
  </li>
  <li class="nav-item col-6 col-lg-auto px-1">
    <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Services')">
      {{ 'HEADER.SERVICES' | translate }}
    </button>
  </li>
  <li class="nav-item col-6 col-lg-auto px-1">
    <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Portfolio')">
      {{ 'HEADER.PORTFOLIO' | translate }}
    </button>
  </li>
  <li class="nav-item col-6 col-lg-auto px-1">
    <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('HowTos')">
      {{ 'HEADER.HOWTOS' | translate }}
    </button>
  </li>
</ul>
