
.bd-navbar {
  padding: .75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95))
}

@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
      width:4.25rem
  }
}a

.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -.5rem;
  border: 0
}

.bd-navbar .navbar-toggler:first-child {
  margin-left: -.5rem
}

.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem
}

.bd-navbar .navbar-toggler:focus {
  box-shadow: none
}

.bd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .bd-navbar .navbar-brand {
      transition: none
  }
}

.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1)
}

.bd-navbar .navbar-toggler,.bd-navbar .nav-link {
  padding-right: .25rem;
  padding-left: .25rem;
  color: rgba(255,255,255,0.85)
}

.bd-navbar .navbar-toggler:hover,.bd-navbar .navbar-toggler:focus,.bd-navbar .nav-link:hover,.bd-navbar .nav-link:focus {
  color: #fff
}

.bd-navbar .navbar-toggler.active,.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff
}

.bd-navbar .offcanvas-lg {
  background-color: var(--bd-violet-bg);
  border-left: 0
}

@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
      box-shadow:0 1rem 3rem rgba(0,0,0,0.175)
  }
}

.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0
}
