<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    <!-- Offcanvas Menu -->
    <button class="btn btn-outline-light d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar"
      aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars" class="fas fa-lg" aria-hidden="true"></fa-icon>
    </button>
    <!-- Brand Logo -->
    <a class="navbar-brand p-0 me-0 me-lg-2" routerLink="/" aria-label="Vanishing Point Dev" role="button"
      (click)="scrollToTop()">
      <img src="../../assets/logo__white-smoke.png" alt="Vanishing Point Dev Logo" width="64" height="64"
        class="d-block">
    </a>
    <!-- Desktop Menu - starts here -->
    <div class="navbar-collapse d-none d-lg-block">
      <ul class="navbar-nav flex-row flex-wrap" aria-label="Desktop navigation">
        <li class="nav-item col-6 col-lg-auto ">
          <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('About')"
            aria-label="Navigate to About page">
            <small class="ms-2"> {{ 'HEADER.ABOUT' | translate }}</small>
          </button>
        </li>
        <li class="nav-item col-6 col-lg-auto px-1">
          <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Services')"
            aria-label="Navigate to Services page">
            <small class="ms-2"> {{ 'HEADER.SERVICES' | translate }}</small>
          </button>
        </li>
        <li class="nav-item col-6 col-lg-auto px-1">
          <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Portfolio')"
            aria-label="Navigate to Portfolio page">
            <small class="ms-2"> {{ 'HEADER.PORTFOLIO' | translate }}</small>
          </button>
        </li>
        <li class="nav-item col-6 col-lg-auto px-1">
          <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('HowTos')"
            aria-label="Navigate to How-Tos page">
            <small class="ms-2"> {{ 'HEADER.HOWTOS' | translate }}</small>
          </button>
        </li>
      </ul>
      <!-- Social Media Links -->
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto " aria-label="Social media links">
        <!-- It's better to use anchor <a> tags for links, but if you must use buttons, ensure appropriate aria-labels -->
        <li class="nav-item col-6 col-lg-auto ">
          <button class="btn text-white py-2  px-lg-2" type="button" (click)="openLink('https://twitter.com/vpointdev')"
            aria-label="Visit Vanishing Point Dev on Twitter">
            <fa-icon [icon]="faTwitter" class="fab fa-lg" aria-hidden="true"></fa-icon>
            <small class="d-lg-none ms-2">Twitter</small>
          </button>
        </li>
        <li class="nav-item col-6 col-lg-auto ">
          <button class="btn text-white py-2 px-lg-2" type="button"
            (click)="openLink('https://github.com/vpointdev')"
            aria-label="Visit Vanishing Point Dev on GitHub">
            <fa-icon [icon]="faGithub" class="fab fa-lg" aria-hidden="true"></fa-icon>
            <small class="d-lg-none ms-2">GitHub</small>
          </button>
        </li>
        <li class="nav-item col-6 col-lg-auto ">
          <button class="btn text-white py-2 px-lg-2" type="button"
            (click)="openLink('https://www.youtube.com/@vpointdev')" aria-label="Visit Vanishing Point Dev on YouTube">
            <fa-icon [icon]="faYouTube" class="fab fa-lg" aria-hidden="true"></fa-icon>
            <small class="d-lg-none ms-2">YouTube</small>
          </button>
        </li>
      </ul>
      <hr class="d-lg-none text-white-50">
      <!-- Switcher  Settings -->
      <ul class="navbar-nav flex-row flex-wrap" aria-label="Settings Menu">
       <!-- Assuming "vr" is some kind of visual divider; it's appropriate to have it hidden for screen readers -->
       <div class="vr d-lg-flex  mx-lg-2 text-white" aria-hidden="true"></div>
        <!-- Theme Switcher -->
        <li class="nav-item col-6 col-lg-auto">
          <app-theme-switcher></app-theme-switcher>
        </li>
        <!-- Language Switcher -->
        <li class="nav-item col-6 col-lg-auto ">
          <app-language-switcher></app-language-switcher>
        </li>
      </ul>
    </div>
    <!-- Offcanvas Menu -->
    <div class="offcanvas d-lg-none" tabindex="0" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel"
      data-bs-scroll="true" role="dialog" aria-modal="true">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Vanishing Point Dev</h5>
        <button type="button" class="btn-close btn-close-white navbar-btn" data-bs-dismiss="offcanvas"
          aria-label="Close offcanvas menu" data-bs-target="#bdNavbar"></button>
      </div>
      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto" aria-label="Main navigation">
          <li class="nav-item col-6 col-lg-auto ">
            <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('About')"
              aria-label="Navigate to About page">
              <small class="d-lg-none ms-2"> {{ 'HEADER.ABOUT' | translate }}</small>
            </button>
          </li>
          <li class="nav-item col-6 col-lg-auto px-1">
            <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Services')"
              aria-label="Navigate to Services page">
              <small class="d-lg-none ms-2"> {{ 'HEADER.SERVICES' | translate }}</small>
            </button>
          </li>
          <li class="nav-item col-6 col-lg-auto px-1">
            <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('Portfolio')"
              aria-label="Navigate to Portfolio page">
              <small class="d-lg-none ms-2"> {{ 'HEADER.PORTFOLIO' | translate }}</small>
            </button>
          </li>
          <li class="nav-item col-6 col-lg-auto px-1">
            <button class="btn text-white py-2 px-0 px-lg-2" type="button" (click)="openPage('HowTos')"
              aria-label="Navigate to How-Tos page">
              <small class="d-lg-none ms-2"> {{ 'HEADER.HOWTOS' | translate }}</small>
            </button>
          </li>
        </ul>
        <!-- Social Media Links -->
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto" aria-label="Social media links">
          <!-- It's better to use anchor <a> tags for links, but if you must use buttons, ensure appropriate aria-labels -->
          <li class="nav-item col-6 col-lg-auto ">
            <button class="btn text-white py-2  px-lg-2" type="button"
              (click)="openLink('https://twitter.com/vpointdev')" aria-label="Visit Vanishing Point Dev on Twitter">
              <fa-icon [icon]="faTwitter" class="fab fa-lg" aria-hidden="true"></fa-icon>
              <small class="d-lg-none ms-2">Twitter</small>
            </button>
          </li>
          <li class="nav-item col-6 col-lg-auto ">
            <button class="btn text-white py-2 px-lg-2" type="button"
              (click)="openLink('https://github.com/vanishing-point-dev')"
              aria-label="Visit Vanishing Point Dev on GitHub">
              <fa-icon [icon]="faGithub" class="fab fa-lg" aria-hidden="true"></fa-icon>
              <small class="d-lg-none ms-2">GitHub</small>
            </button>
          </li>
          <li class="nav-item col-6 col-lg-auto ">
            <button class="btn text-white py-2 px-lg-2" type="button"
              (click)="openLink('https://www.youtube.com/@vpointdev')"
              aria-label="Visit Vanishing Point Dev on YouTube">
              <fa-icon [icon]="faYouTube" class="fab fa-lg" aria-hidden="true"></fa-icon>
              <small class="d-lg-none ms-2">YouTube</small>
            </button>
          </li>
        </ul>
        <hr class="d-lg-none text-white-50">
        <!-- Switcher  Settings -->
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto" aria-label="Settings Menu">
          <!-- Theme Switcher -->
          <li class="nav-item col-6 col-lg-auto">
            <app-theme-switcher></app-theme-switcher>
          </li>
          <!-- Language Switcher -->
          <li class="nav-item col-6 col-lg-auto ">
            <app-language-switcher></app-language-switcher>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>