
.bd-navbar {
  padding: .75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(var(--bd-charcoal-rgb), 1), rgba(var(--bd-charcoal-rgb), 0.95))
}

.bd-navbar .navbar-brand {
  color: --bd-brand-light;
  transition: transform 0.2s ease-in-out
}

.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1)
}

@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
      box-shadow:0 1rem 3rem rgba(0,0,0,0.175)
  }
}

// /* Mobile styles */
.navbar-nav {
  // gap: 0.5rem;
}

.navbar-nav li.nav-item {
  // margin-bottom: 0.5rem;
}

.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  background-image: linear-gradient(rgba(var(--bd-charcoal-rgb), 1), rgba(var(--bd-charcoal-rgb), 0.95))

}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.offcanvas-body ul.navbar-nav li.nav-item {
  width: 100%; /* Ensure items take full width */
}
